<div class="login-container">
  <div class="inputs-container">
    <h1 class="signin-header">Sign In</h1>
    <mat-form-field class="credentials-input">
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="credentials-input">
      <input matInput placeholder="Password">
    </mat-form-field>

    <div class="input-buttons">
      <button class="login-button">
        Login
      </button>
      <a href="">Forgot Password?</a>
    </div>

    <div class="signup-container">
      <span>
        Need an Account?
      </span>
      <button class="signup-button" (click)="onSignUp()">
        <span class="signup">
          Sign Up!
        </span>
      </button>
    </div>
  </div>
</div>
