<div class="register-container">
  <h1 class="register-header">
    Register
  </h1>
  <div>
    <mat-form-field class="register-inputs">
      <input matInput placeholder="First name">
    </mat-form-field>
    <mat-form-field class="register-inputs">
      <input matInput placeholder="Last name">
    </mat-form-field>
    <mat-form-field class="register-inputs">
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field class="register-inputs">
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="register-inputs">
      <input matInput placeholder="Password">
    </mat-form-field>
  </div>
  <div class="register-buttons">
    <button class="register-btn" (click)="onRegister()">
      Register
    </button>
  </div>
</div>
